body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.5s ease;
}

.user-page-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    cursor: pointer;
}

.logout-button {
    padding: 10px 20px;
    margin-left: 48%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #0056b3;
}
