body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 25px;
    margin-right: 25px;
}

.namenav{
    color: rgb(40, 40, 41);
    
    font-size: 25px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
}

.search input {
    border: none;
    background: none;
    padding: 5px;
    width: 350px;
    outline: none;
   
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
   
    
}
.search button:focus {
    outline: none; /* Garante que o contorno também não apareça quando o botão recebe foco */
}

.navbar .user-profile {
    display: flex;
    align-items: center;
    position: relative; 
}

.navbar .user-profile img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .user-profile span {
    font-weight: bold;
    color: #333;
}



.title-container {
   /* Linha completa abaixo do contêiner */
    border-bottom: 2px solid #4f4e4e;
    width: 90%;
    margin-bottom: 20px; /* Espaço abaixo da linha */
    margin-left: 95px;
}

.name-feed  {
    font-family: Arial, sans-serif;
    color: #4f4e4e;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 90px;
    
   
}

 h4{
    
    padding: 5px;
}
.feed {
    margin: 20px auto;
    width: 80%;
}

.feed .post-box {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.feed .post-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    object-fit: cover;
}

.feed .post-box input {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-left: 10px;
    outline: none;
}

.feed .post-box .buttons button:focus {
    outline: none; /* Garante que o contorno também não apareça quando o botão recebe foco */
}

.feed .post-box .buttons {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    
}

.feed .post-box .buttons button {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Arial;
    
}

.feed .post-box .buttons button svg {
    margin-right: 10px;
    fill: blue;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin-right: 95px;
    margin-left: 90px;
    padding-top: 50px;
    
}

.article-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px;
    width: 388px;
    height: 463px;
    text-align: center;
}

.image-placeholder {
    background-color: #f1f3f5;
    height: 150px;
    width: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    object-fit: cover;
}

.article-card h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.article-card p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

.article-card button {
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.dropdown-menu {
    display: none; /* Oculto por padrão */
    position: absolute;
    top: 50px; /* Abaixo do botão de perfil */
    right: 550px; 
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 150px;
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4;
}