{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
    </head>
    <body>
        <main>
            <section>
                <div class="title-container">
                    <div class ="name-feed">
                        <h4>Feed</h4>
                    </div>
                    <div class="container">
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>