
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortWriter - Home</title>
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                 
                <h1>PortWriter</h1>
                
            </div>
            <div class="search-login">
                <input type="text" placeholder="Search...">
                <img src="{% static 'images/search.png' %}" alt="Ícone de Pesquisa" class="search-icon">
                <img src="{% static 'images/settings.png' %}" alt="Ícone Configuração" class="settings-icon">
                <a href="login" class="button">Login</a>
            </div>
        </header>

        
        <main>
            <div class="feed">
                <h2>Feed</h2>
                
                <div class="article">
                    <div class="image-placeholder">
                        <img src="caminho-da-imagem1.jpg" alt="Imagem da capa">
                    </div>
                    <div class="article-title">Título do Artigo</div>
                </div>
                <div class="article">
                    <div class="image-placeholder">
                        <img src="caminho-da-imagem2.jpg" alt="Imagem da capa">
                    </div>
                    <div class="article-title">Título do Artigo</div>
                </div>
                <div class="article">
                    <div class="image-placeholder">
                        <img src="caminho-da-imagem3.jpg" alt="Imagem da capa">
                    </div>
                    <div class="article-title">Título do Artigo</div>
                </div>
            </div>
        </main>
    </div>
    <!-- Seção Sobre Nós -->
    <section class="about-us">
        <h2>Sobre Nós</h2>
        <p>PortWriter é uma plataforma dedicada a compartilhar artigos e insights de especialistas sobre diversos tópicos. Nossa missão é fornecer conteúdo de alta qualidade e acessível para todos.</p>
    </section>
</body>
</html>