<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}" defer></script>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            {% comment %} <img src="{% static 'images/favicon.png' %}" alt="Ícone logo" class="pencil-icon"> {% endcomment %}
            <h2>PortWriter</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                    <span id="togglePassword" class="eye-icon">👁️</span>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot?</a>
                </div>
                <button type="submit">Login now</button>
            </form>
            <div class="signup-link">
                <p>Don't Have An Account? <a href="singup">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
