<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/login.js' %}" defer></script>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <a href="{% url 'home' %}" class="PortButton"><h2>PortWriter</h2></a>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    {{ form.username }}
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    {{ form.password }}
                    <span class="eye-icon" onclick="togglePasswordVisibility('id_password', this)" id="pass1">👁️</span>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot?</a>
                </div>
                <button type="submit">Login now</button>
            </form>
            <div class="signup-link">
                <p>Don't Have An Account? <a href="signup">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>