{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% if search_js %}
    <script src="{% static 'js/navbar.js' %}" defer></script>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/favicon.png' %}" alt="PortWriter Logo">
                <a href="{% url 'home' %}" class="namenav">PortWriter</a>
            </div>
            {% if show_search %}
            <div class="search">
                <input type="text" placeholder="Search for...">
                <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg> </i></button>
                  <button> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2-vertical" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H3V1.5a.5.5 0 0 0-1 0V10H.5a.5.5 0 0 0-.5.5M2.5 12a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5m3-6.5A.5.5 0 0 0 6 6h1.5v8.5a.5.5 0 0 0 1 0V6H10a.5.5 0 0 0 0-1H6a.5.5 0 0 0-.5.5M8 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2A.5.5 0 0 0 8 1m3 9.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H14V1.5a.5.5 0 0 0-1 0V10h-1.5a.5.5 0 0 0-.5.5m2.5 1.5a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5"/>
                  </svg> </button>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="#" id="profile-pic-link" class="user_button" onclick="toggleMenu(event)">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                {{ user.username }}
            </a>  
            <!-- Menu drop-down -->
            <div id="dropdown-menu" class="dropdown-menu">
                <a href="{% url 'user_profile' user.username %}">Perfil</a>
                <a href="{% url 'logout' %}">Sair</a>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="login-button">Login</a>
        {% endif %}
        </nav>
    </header>
</body>
</html>

