<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/signup.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <a href="{% url 'home' %}" class="PortButton"><h2>PortWriter</h2></a>
            <form id="signupForm" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }} 
                <div class="input-group">
                    <label for="fullName">Full Name:</label>
                    {{ form.full_name }}  
                    {% if form.full_name.errors %}
                        <div class="error">{{ form.full_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    {{ form.email }} 
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}               
                </div>
                <div class="input-group">
                    <label for="username">Username:</label>
                    {{ form.username }}  
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="password1" id="password1">Password:</label>
                    {{ form.password1 }}
                    <span class="eye-icon" onclick="togglePasswordVisibility('id_password1', this)" id="pass1">👁️</span>
                    {% if form.password1.errors %}  
                        <div class="error">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="password2" id="password2">Confirm Password:</label>
                    {{ form.password2 }}  
                    <span class="eye-icon" onclick="togglePasswordVisibility('id_password2', this)" id="pass2">👁️</span>
                    {% if form.password2.errors %}  
                        <div class="error">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <div class="checkbox-group">
                    {{ form.notifications }}
                    <label for="notifications">Receber notificações por email</label>
                </div>
                <div class="checkbox-group">
                    {{ form.privacy_policy }}
                    <label for="terms">Aceita termos de <a href="terms"> política de privacidade</a></label>
                </div>
                <div class= "create-account">
                <button type="submit">Create Account</button>
                </div>
            </form>
            <p>Have an account? <a href="{% url 'login' %}">Sign in!</a></p>
        </div>
    </div>
</body>
</html>