{% load static %}
<div class="overlay" id="profile-picture-change-container">
    <div class="form-container">
        <button id="cancel-btn" class="close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
        <div class="profile-pic">
            <img id="profile-picture-preview" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="image-form"> 
        </div>
        <div class="button-form">
            <!-- Form for changing the profile picture -->
            <form action="{% url 'update_profile_picture' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Chose File button centered above -->
                <label class="file-label" for="file-input">
                    <input id="file-input" type="file" name="profile_picture" accept="image/*" hidden>
                    Chose File <span class="download-icon">&#8681;</span>
                </label>
                <!-- Flexbox for Change and Remove buttons -->
                <div class="button-group">
                    <button type="submit" class="btn" id="change-btn">Change</button>
            </form>
            
            <!-- Separate form for removing the profile picture -->
            <form action="{% url 'update_profile_picture' %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="remove_picture" class="btn" id="remove-btn">Remove</button>
            </form>
                </div>
        </div>
    </div>
</div>