{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/saved_articles.css' %}">
       
    </head>
    <body>
        <main>
            <div class="voltar">
                <button class="back"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                  </svg><a href="user_page"> </a> </button> 
                
            </div> 
            <div class ="name-feed">
                <h4>Artigos Salvos</h4>
            </div>
            <div class="title-container">
            </div>
                <section>
                    <div class="container">
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src = "https://petitgato.com.br/img/webp/gatos-persas-em-sao-paulo-img-3780.webp" class="image-placeholder">

                            </div>
                            <h3>Article</h3>
                            <p>Lorem ipsum dolor sit amet consectetur tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitorn.</p>
                            <button class="learn"> <a href="#">Learn more </a> </button> 
                        </div>
                    </div>
            </section>
        </main>
    </body>
</html>