{% load static %}
<!DOCTYPE html>
<div class="box-container">
    <p>Configurações</p>
    <div class="form-writer-container" id="settings">
        <p id="title">Privacidade</p>
    </div>
    <div class="form-container-fields">
        <p id="title">Segurança - Trocar senha</p>
        <div class="act-form">
            <form method="POST">
                {% csrf_token %} 
                {{ form.non_field_errors }} 
                <div class="input-group">
                    <label for="password">Current Password:</label>
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="error">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="password1">New Password:</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="password2">Repeat New Password:</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="error">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
                <div class="save-changes">
                    <button type="submit" id="saveChangesBtn" style="display:none;">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>