{% load static %}
<div class="box-container">
    <p>{{ user.username }}</p>
    {% if user.is_writer %}
        <div class="form-writer-container">
            <p id="title">Informações do escritor</p>
            <div class="act-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }} 
                    <div class="input-group">
                        <label for="biography">Biography:</label>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="form-writer-container">
            <p id="title">Não é um escrior ainda</p>
        </div>
    {% endif %}
    <div class="form-container-fields">
        <p id="title">Informações do usuário</p>
        <div class="act-form">
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }} 
                <div class="input-group">
                    <label for="fullName">Full Name:</label>
                    {{ form.full_name }}  
                    {% if form.full_name.errors %}
                        <div class="error">{{ form.full_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    {{ form.email }} 
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}             
                </div>
                <div class="input-group">
                    <label for="username">Username:</label>
                    {{ form.username }}  
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="save-changes">
                    <button id="saveChangesBtn" type="submit" style="display:none;">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
