<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Page</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="user-page-container">
        <h2>Bem-vindo, {{ username }}!</h2>
        <p>Esta é sua página de usuário.</p>
    </div>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>
</body>
</html>