{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortWriter - UserPage</title>
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_articles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'js/create_article.js' %}" defer></script>
</head>
<body>
    <header>
        {% include 'navbar.html' with show_search=False search_js=False %}
    </header>
    <div class="article-container">
        <div class="menu-left">
            <h1>Start writing your article</h1>
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="cover-img">
                    <img src="{% static 'images/default-cover-image.png' %}" alt="default-cover-image">
                </div>
                <div class="add-image-title">
                    {{ article_form.cover_image_subtitle }}
                    {{ article_form.cover_image }}
                </div>
                <div class="article-title">
                    <p>Add title</p>
                    {{ article_form.title }}
                </div>
                <div class="content-area" contenteditable="true">
                    {{ article_form.content }}
                </div>
                <div class="media-section">
                    <div class="add-image">
                        <label for="article_image">Adicionar imagem:</label>
                        {{ article_form.subtitle }}
                        {{ article_form.images }}
                    </div>
                    <div class="add-video">
                        <label for="article_video" >Adicionar video:</label>
                        {{ article_form.video_url }}
                        {{ article_form.video }}
                    </div>
                </div>
                <button class="publish-button" type="submit">Publicar Artigo</button>
            </form>
        </div>
    </div>
</body>
</html>