body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 25px;
    margin-right: 25px;
}

.namenav{
    color: rgb(40, 40, 41);
    font-size: 25px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 20px;
    padding: 5px 10px;
}

.search input {
    border: none;
    background: none;
    padding: 5px;
    width: 350px;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.login-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.title-container {
   /* Linha completa abaixo do contêiner */
    border-bottom: 2px solid #4f4e4e;
    width: 90%;
    margin-bottom: 20px; /* Espaço abaixo da linha */
    margin-left: 95px;
}

.name-feed  {
    font-family: Arial, sans-serif;
    color: #4f4e4e;
    font-size: 11px;
    padding-top: 50px;
    padding-left: 90px;   
}

h4{
    padding: 5px;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin-right: 95px;
    margin-left: 90px;
    padding-top: 50px;
}

.article-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px;
    width: 388px;
    height: 463px;
    text-align: center;
}

.image-placeholder {
    background-color: #f1f3f5;
    height: 150px;
    width: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    object-fit: cover;
}

.article-card h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.article-card p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

.article-card button {
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.user_button {
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    border-radius: 33px; /* Makes the border rounded */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.user_button:hover {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #0a3c70; /* Adds a hover effect */
    color: white;
    text-decoration: none;
}

.user_button .profile-picture {
    margin-left: -14px;
    margin-right: 10px; /* Adds space between the image and the text */
    width: 40px;
    height: 40px;
    border-radius: 30px;
}